# Node / Frontend
node_modules/
frontend/node_modules/
dist/
frontend/dist/

# Environment variables
.env
.env.local
backend/.env
frontend/.env

# Editor & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Python
__pycache__/
backend/**/__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg